
language: node_js

node_js:
  - "10"

branches:
  only:
    - master

install:
  - yarn

script:
  yarn build

deploy:
  provider: pages
  local_dir: dist
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  on:
    branch: master

cache:
  directories:
    - node_modules